<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CrawlTool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    Bootstrap & Jquery-->
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css">
    <script src="/assets/jquery/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

    <!--    css-->
    <link href="/css/index.css" rel="stylesheet" type="text/css">

    <!--    js-->
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
<div class="container">
    <header>
        <nav class="navbar navbar-expand-lg fixed-top container" id="nav">
            <div class="container">
                <a class="navbar-brand text-white" href="Prefecture.html">CRAWLER</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse"
                        aria-controls="nvbCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nvbCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active pl-1" id="menu-1">
                            <a class="nav-link" href="/prefecture"><i
                                    class="fa fa-home fa-fw mr-1"></i>都道府県一覧</a>
                        </li>
                        <li class="nav-item pl-1" id="menu-2">
                            <a class="nav-link" href="/medicalInstitution"><i class="fa fa-home fa-fw mr-1"></i>医療機関一覧</a>
                        </li>
                        <li class="nav-item pl-1" id="menu-3">
                            <a class="nav-link" href="/urls"><i class="fa fa-th-list fa-fw mr-1"></i>URLS一覧</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="mt-3" id="prefecture-content">
        <div>
            <div class="input-group mb-3" style="width: 34%; float: right">
                <input type="text" id="pre-name" class="form-control" placeholder="都道府県名で検索">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit" onclick="{handleSearch()}">検索</button>
                </div>
            </div>
        </div>

        <table class="table table-striped" style="border-bottom: 1px solid #F2F2F2;">
            <thead id="table_thead">
            <tr>
                <th>順</th>
                <th style="text-align: center">都道府県名</th>
                <th style="text-align: center">都道府県カナ</th>
                <th style="text-align: center">データ処理</th>
            </tr>
            </thead>
            <tbody id="table_tbody"></tbody>
        </table>

        <div class="d-flex justify-content-center mb-3" id="div-spin">
            <div class="spinner-border text-success" role="status" id="spin">
                <span class="sr-only">処理中</span>
            </div>
        </div>

        <div id="div_nodata"
             style="color: gray; border-bottom: 1px solid #d8d8d8; padding: 130px; text-align: center; display: none">
            <h6>検索条件に一致するデータが見つかりません。</h6>
        </div>

        <div class="center" id="div-pag">
            <ul class="pagination" id="pagination"></ul>
        </div>
    </div>
</div>
<script src="/assets/dist/sweetalert2.all.min.js"></script>
</body>
</html>